In [135]:
import pandas as pd
import numpy as np

# Read in the data

## Read in joke id and joke text

joke_data = pd.read_csv('jester_items.csv')

## Read in joke ratings

joke_ratings = pd.read_csv('jester_ratings.csv')

In [136]:
joke_data

     jokeId                                           jokeText
0         1  A man visits the doctor. The doctor says "I ha...
1         2  This couple had an excellent relationship goin...
2         3  Q. What's 200 feet long and has 4 teeth? \n\nA...
3         4  Q. What's the difference between a man and a t...
4         5  Q.\tWhat's O. J. Simpson's Internet address? \...
..      ...                                                ...
145     146  America: 8:00 - Welcome to work! 12:00 - Lunch...
146     147  It was the day of the big sale. Rumors of the ...
147     148  Recently a teacher, a garbage collector, and a...
148     149  A little girl asked her father, "Daddy? Do all...
149     150  In an interview with David Letterman, Carter p...

[150 rows x 2 columns]

In [137]:
# Focusing on the first few users for now

joke_ratings = joke_ratings[joke_ratings['userId'] < 5]

In [138]:
joke_ratings[joke_ratings['jokeId'] == 5]

     userId  jokeId  rating
0         1       5   0.219
62        2       5  -9.688
96        3       5  -9.844
114       4       5  -5.812

In [139]:
# We create new columns for all the jokes accoring to the user ratings

for index, row in joke_ratings.iterrows():
    # Create new column if it doesn't exist
    if 'user_' + str(row['userId']) + '_rating' not in joke_ratings.columns:
        joke_ratings['user_' + str(row['userId']) + '_rating'] = np.nan
    joke_ratings['user_' + str(row['userId']) + '_rating'][index] = row['rating']

/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/2125598061.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings['user_' + str(row['userId']) + '_rating'][index] = row['rating']
/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/2125598061.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings['user_' + str(row['userId']) + '_rating'][index] = row['rating']
/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/2125598061.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings['user_' + str(row['userId']) + '_rating'][index] = row['rating']
/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/2125598061.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings['user_' + str(row['userId']) + '_rating'][index] = row['rating']

In [140]:
# We create new columns for all the jokes accoring to the user ratings

for index, row in joke_ratings.iterrows():
    for col in joke_ratings.columns:
        if 'user_' in col and pd.isna(row[col]):
            user_num = int(float(col.split('_')[1]))
            joke_id = int(row['jokeId'])
            user_rating = joke_ratings[(joke_ratings['userId'] == user_num) & (joke_ratings['jokeId'] == joke_id)]['rating']
            # joke_ratings[col][index] = user_rating
            if user_rating.values:
                joke_ratings[col][index] = user_rating
            else:
                joke_ratings[col][index] = 0

/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/3825535566.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings[col][index] = user_rating
/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/3825535566.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if user_rating.values:
/var/folders/ps/gtpc0wkx1j12zfc6gjn0kwsw0000gn/T/ipykernel_33692/3825535566.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joke_ratings[col][index] = 0

In [141]:
joke_ratings[joke_ratings['jokeId'] == 5]

,userId,jokeId,rating,user_1.0_rating,user_2.0_rating,user_3.0_rating,user_4.0_rating
0,1,5,0.219,0.219,-9.688,-9.844,-5.812
62,2,5,-9.688,0.219,-9.688,-9.844,-5.812
96,3,5,-9.844,0.219,-9.688,-9.844,-5.812
114,4,5,-5.812,0.219,-9.688,-9.844,-5.812

In [151]:
joke_ratings.drop_duplicates(subset=['jokeId'], keep='first', inplace=True)

In [154]:
joke_ratings.drop(columns=['userId', 'rating'], inplace=True)

In [ ]:
# We create new columns for all the jokes accoring to the user ratings

for index, row in joke_ratings.iterrows():
    joke_id = row['jokeId']

    
    # Populate the new columns with the ratings
    joke_ratings['user_' + str(row['userId']) + '_rating'][index]

In [49]:
# We drop the userId and rating columns

joke_ratings = joke_ratings.drop(['userId', 'rating'], axis=1)

In [50]:
# # We checkand delete for duplicate rows

# joke_ratings = joke_ratings.drop_duplicates()

In [155]:
joke_ratings

,jokeId,user_1.0_rating,user_2.0_rating,user_3.0_rating,user_4.0_rating
0,5,0.219,-9.688,-9.844,-5.812
1,7,-9.281,9.938,-9.844,-4.500
2,8,-9.281,9.531,-7.219,-4.906
3,13,-6.781,9.938,-2.031,0.000
4,15,0.875,0.406,-9.938,0.000
...,...,...,...,...,...
95,48,0.000,9.281,0.000,0.000
106,33,0.000,0.000,-9.812,0.000
108,37,0.000,0.000,-9.812,0.000
109,38,0.000,0.000,0.062,0.000
110,39,0.000,0.000,0.000,0.000